@import "./sub-module/font-init.scss";
@import "./sub-module/font-icon-init.scss";
@import "./sub-module/site-header.scss";
@import "./sub-module/site-footer.scss";
@import "./sub-module/side-nav.scss";
@import "./sub-module/setting-bar.scss";

#page-container {
     background-color: #fafbfe;
     position: relative;
     i{
          vertical-align: middle;
      }
}
#site-content {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100%;
}
.main-content {
     flex-grow: 1;
     > .body-container {
          padding: 24px;
     }
}
@import "./hyper-admin-layout-media-queries.scss";
