.datepicker-plot-area {
  font-family: Vazir; }

.select2-container {
  display: block;
  width: 100% !important; }

#blog-content > aside {
  font-size: 0.85rem; }
  #blog-content > aside .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.9rem; }
    #blog-content > aside .card-header::after {
      content: "";
      display: block;
      border-top: 0.3em solid;
      border-left: 0.3em solid transparent;
      border-bottom: 0;
      border-right: 0.3em solid transparent; }
  #blog-content > aside .card-header[aria-expanded="false"]::after {
    transform: rotate(180deg); }

#blog-content > div .form-label {
  font-weight: bold; }

.has-autocomplete {
  position: relative; }

.autocomplete-active {
  background-color: #00000026; }

.autocomplete-items {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 1;
  background: #fff;
  font-size: 1rem; }

.autocomplete-items > div {
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid;
  border-color: transparent #b7b7b7 #b7b7b7 #b7b7b7; }

.autocomplete-items > div:hover {
  background-color: #00000026; }

.cat-addition-result ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px; }

.cat-addition-result .remove {
  text-decoration: none;
  margin-left: 5px;
  font-size: 9px;
  cursor: pointer; }

.cat-addition-result ul li {
  margin: 5px;
  background: #0d6efd40;
  padding: 3px 5px;
  border: 1px solid #b7b7b7;
  white-space: nowrap;
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: context-menu;
  display: flex;
  align-items: center; }
