@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Regular-FD.eot");
  src: url("../fonts/eot/Vazir-Regular-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Regular-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Regular-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Bold-FD.eot");
  src: url("../fonts/eot/Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Bold-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Bold-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Light-FD.eot");
  src: url("../fonts/eot/Vazir-Light-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Light-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Light-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Medium-FD.eot");
  src: url("../fonts/eot/Vazir-Medium-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Medium-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Medium-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Thin-FD.eot");
  src: url("../fonts/eot/Vazir-Thin-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Thin-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Thin-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100; }

:root {
  --bs-font-sans-serif: Vazir; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/font-icon/icomoon.eot?yno7tj");
  src: url("../fonts/font-icon/icomoon.eot?yno7tj#iefix") format("embedded-opentype"), url("../fonts/font-icon/icomoon.ttf?yno7tj") format("truetype"), url("../fonts/font-icon/icomoon.woff?yno7tj") format("woff"), url("../fonts/font-icon/icomoon.svg?yno7tj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-acc-arrow:before {
  content: "\e900";
  color: #8391a2; }

.icon-close:before {
  content: "\e901";
  color: #8391a2; }

.icon-dashboard:before {
  content: "\e902";
  color: #8391a2; }

.icon-hamburger:before {
  content: "\e903";
  color: #8391a2; }

.icon-settings:before {
  content: "\e904";
  color: #8391a2; }

.site-header {
  padding: 0 24px;
  background-color: #fff;
  box-shadow: 0 0 35px 0 #9aa1ab26;
  min-height: 70px;
  position: fixed;
  right: 260px;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search-form {
  display: flex;
  align-items: center; }
  .search-form .hamburger-btn {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-left: 24px; }
    .search-form .hamburger-btn i:before {
      color: #000; }
  .search-form form {
    margin: 0; }

.toolbar-menu > ul {
  display: flex;
  align-items: center; }

.toolbar-menu .account-user-avatar {
  margin-left: 0.6rem; }
  .toolbar-menu .account-user-avatar img {
    height: 32px;
    width: 32px;
    border-radius: 50%; }

.toolbar-menu .account-user-name {
  display: block;
  font-weight: bold;
  font-size: 0.85rem; }

.toolbar-menu .account-position {
  display: block;
  font-size: 0.75rem; }

.toolbar-menu .account-dropdown-item .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #98a6ad;
  text-decoration: none;
  min-height: 70px; }

.toolbar-menu .setting-btn-item .btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-left: 5px; }

.dropdown-menu-animated {
  -webkit-animation-name: DropDownSlide;
  animation-name: DropDownSlide;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* position: absolute;
    margin: 0;
    z-index: 1000 */ }

.dropdown-menu-animated.show {
  top: 100% !important; }

@-webkit-keyframes DropDownSlide {
  100% {
    transform: translateY(0); }
  0% {
    transform: translateY(10px); } }

@keyframes DropDownSlide {
  100% {
    transform: translateY(0); }
  0% {
    transform: translateY(10px); } }

@media (min-width: 768px) {
  .dropdown-lg {
    width: 320px; } }

.site-footer {
  border-top: 1px solid #98a6ad33;
  bottom: 0;
  padding: 19px 24px 20px;
  position: absolute;
  left: 0;
  color: #98a6ad;
  right: 260px; }

#site-content {
  margin-right: 260px; }

.side-nav {
  width: 260px;
  background: #313a46;
  z-index: 10;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  box-shadow: 0 0 35px 0 #9aa1ab26;
  padding-top: 70px; }
  .side-nav .logo {
    background-color: #313a46;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 260px;
    height: 70px; }
    .side-nav .logo .logo-sm {
      display: none; }
  .side-nav .accordion:not(:first-of-type) {
    margin-top: 1rem; }
  .side-nav .accordion .accordion-title {
    color: #8391a2;
    padding: 0.7rem 1.25rem;
    margin: 0;
    font-size: 0.8rem; }
  .side-nav .accordion a {
    padding: 0.45rem 26px;
    display: block;
    text-decoration: none;
    color: #8391a2;
    font-size: 0.8rem; }
    .side-nav .accordion a:hover {
      color: #bccee4; }
  .side-nav .accordion i {
    margin-left: 0.7rem; }
    .side-nav .accordion i::before {
      transition: color 0.15s ease-in-out; }
  .side-nav .accordion .accordion-item {
    background-color: transparent;
    border: none; }
  .side-nav .accordion .accordion-button {
    padding: 0.6rem 1.25rem;
    font-size: 0.9rem;
    background-color: transparent;
    color: #8391a2; }
    .side-nav .accordion .accordion-button:hover {
      color: #bccee4; }
      .side-nav .accordion .accordion-button:hover i:before {
        color: #bccee4; }
    .side-nav .accordion .accordion-button:focus {
      box-shadow: none; }
    .side-nav .accordion .accordion-button::after {
      background-image: url("../images/svg-icon/acc-arrow.svg");
      background-size: 10px;
      background-position: center;
      transform: rotate(90deg);
      transform-origin: 50% 50%; }
    .side-nav .accordion .accordion-button:not(.collapsed) {
      color: #fff;
      background-color: transparent;
      box-shadow: none; }
      .side-nav .accordion .accordion-button:not(.collapsed)::after {
        transform: rotate(180deg) !important; }
  .side-nav .accordion .accordion-button[aria-expanded="true"] i:before {
    color: #fff; }
  .side-nav .accordion .accordion-body {
    padding: 0 1.25rem; }

.hide-side-nav .side-nav {
  width: 70px; }
  .hide-side-nav .side-nav .logo {
    width: 70px; }
    .hide-side-nav .side-nav .logo .logo-sm {
      display: block; }
    .hide-side-nav .side-nav .logo .logo-lg {
      display: none; }
  .hide-side-nav .side-nav .accordion .accordion-title {
    display: none; }
  .hide-side-nav .side-nav .accordion .accordion-button::after {
    display: none; }
  .hide-side-nav .side-nav .accordion .accordion-button > span {
    position: absolute;
    display: none;
    right: 70px;
    white-space: nowrap;
    background: red;
    color: blue;
    padding: 1rem; }
  .hide-side-nav .side-nav .accordion .accordion-button:hover > span {
    display: block; }

.hide-side-nav #site-content {
  margin-right: 70px; }

.hide-side-nav .site-header,
.hide-side-nav .site-footer {
  right: 70px; }

.setting-bar {
  background-color: #fff;
  box-shadow: 0 0 24px 0 #313a461a, 0 1px 0 0 #313a4614;
  position: fixed;
  transition: all 0.2s ease-out;
  width: 280px;
  z-index: 9999;
  left: -290px;
  top: 0;
  bottom: 0; }
  .setting-bar .bar-title {
    background-color: #313a46;
    padding: 27px 25px;
    color: #fff; }
    .setting-bar .bar-title .bar-headline {
      font-size: 1rem;
      line-height: 1;
      margin: 0; }
    .setting-bar .bar-title a {
      text-decoration: none;
      background-color: #444e5a;
      border-radius: 50%;
      font-size: 0.55rem;
      padding: 6px; }
      .setting-bar .bar-title a i::before {
        color: #fff; }

.show-setting-bar .setting-bar {
  left: 0 !important; }

.overlay {
  background-color: #37404a;
  opacity: 0.1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  transition: all 0.2s ease-out; }

.show-overlay .overlay,
.show-setting-bar .overlay {
  display: block !important; }

#page-container {
  background-color: #fafbfe; }
