.datepicker-plot-area {
  font-family: Vazir; }

.select2-container {
  display: block;
  width: 100% !important; }

#blog-content > aside .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.9rem; }
  #blog-content > aside .card-header::after {
    content: "";
    display: block;
    border-top: 0.3em solid;
    border-left: 0.3em solid transparent;
    border-bottom: 0;
    border-right: 0.3em solid transparent; }

#blog-content > aside .form-label {
  font-size: 0.85rem; }

#blog-content > aside .card-header[aria-expanded="false"]::after {
  transform: rotate(180deg); }
