@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Regular-FD.eot");
  src: url("../fonts/eot/Vazir-Regular-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Regular-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Regular-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Bold-FD.eot");
  src: url("../fonts/eot/Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Bold-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Bold-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Light-FD.eot");
  src: url("../fonts/eot/Vazir-Light-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Light-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Light-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Medium-FD.eot");
  src: url("../fonts/eot/Vazir-Medium-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Medium-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Medium-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Thin-FD.eot");
  src: url("../fonts/eot/Vazir-Thin-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Thin-FD.woff2") format("woff2"), url("../fonts/woff/Vazir-Thin-FD.woff") format("woff"), url("../fonts/ttf/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100; }

:root {
  --bs-font-sans-serif: Vazir; }

.bg-primary-soft {
  background-color: rgba(33, 99, 232, 0.1) !important; }

[type=email], [type=number], [type=tel], [type=url] {
  direction: rtl; }

.form-control:focus {
  color: #29292e;
  background-color: #fff;
  border-color: #2163e8;
  outline: 0;
  box-shadow: 0 0 0 0 #2163e840; }

.btn-success {
  color: #fff;
  background-color: #0cbc87;
  border-color: #0cbc87; }

.bg-google {
  background-color: #3c7ff1;
  color: #fff; }

.bg-facebook {
  background-color: #5d82d1;
  color: #fff; }

.bg-google:hover {
  background-color: #3672d9;
  color: #fff; }

.bg-facebook:hover {
  background-color: #5475bc;
  color: #fff; }

hr {
  margin: 1rem 0;
  color: #a1a1a8;
  background-color: currentColor;
  border: 0;
  opacity: 0.25; }
