#site-content {
    margin-right: 260px;
}
.side-nav {
    width: 260px;
    background: #313a46;
    z-index: 10;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    box-shadow: 0 0 35px 0 #9aa1ab26;
    padding-top: 70px;
    overflow-y: auto;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
        width: 3px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #343c49;
        border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
    .logo {
        background-color: #313a46;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 260px;
        height: 70px;
        overflow: hidden;
        .logo-sm {
            display: none;
        }
    }
    .accordion {
        &:not(:first-of-type) {
            margin-top: 1rem;
        }
        .accordion-title {
            color: #fff;
            padding: 0.7rem 1.25rem;
            margin: 0;
            font-size: 0.8rem;
        }
        a {
            padding: 0.45rem 26px;
            display: block;
            text-decoration: none;
            color: #8391a2;
            font-size: 0.8rem;
            &:hover {
                color: #bccee4;
            }
        }
        i {
            margin-left: 0.7rem;
            &::before {
                transition: color 0.15s ease-in-out;
            }
        }
        .accordion-item {
            background-color: transparent;
            border: none;
            position: relative;
        }

        .accordion-button {
            padding: 0.6rem 1.25rem;
            font-size: 0.9rem;
            background-color: transparent;
            color: #8391a2;

            &:hover {
                color: #bccee4;
                i:before {
                    color: #bccee4;
                }
            }
            &:focus {
                box-shadow: none;
            }
            &::after {
                background-image: url("../images/svg-icon/acc-arrow.svg");
                background-size: 10px;
                background-position: center;
                transform: rotate(90deg);
                transform-origin: 50% 50%;
            }
            &:not(.collapsed) {
                color: #fff;
                background-color: transparent;
                box-shadow: none;
                &::after {
                    transform: rotate(180deg) !important;
                }
            }
        }

        .accordion-body {
            padding: 0 1.25rem;
        }
    }
}
body:not(.hide-side-nav) .side-nav .accordion-button[aria-expanded="true"] {
    i:before {
        color: #fff;
    }
}
@media (max-width: 992px) {
    .side-nav {
        top: 70px;
        .logo {
            top: 70px;
        }
    }
    .hide-side-nav {
        .side-nav {
            width: 0;

            .logo {
                width: 0;
            }
        }
    }
    #site-content {
        margin-right: 0;
    }
}
@media (min-width: 993px) {
    .hide-side-nav {
        .side-nav {
            min-height: 100vh;
            width: 70px;
            position: absolute;
            overflow-y: unset;
            overflow-x: unset;
            bottom: unset;
            .logo {
                width: 70px;
                .logo-sm {
                    display: block;
                }
                .logo-lg {
                    display: none;
                }
            }
            .accordion {
                margin: 0;
                .accordion-title {
                    display: none;
                }
                .accordion-button {
                    padding: 14px 25px;
                    &::after {
                        display: none;
                    }
                    > span {
                        position: absolute;
                        display: none;
                        right: 70px;
                        white-space: nowrap;
                        background: #727cf5;
                        color: #fff;
                        padding: 14px 15px 14px 30px;
                        width: 210px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 15px;
                    }
                    &:hover {
                        > span {
                            display: block;
                        }
                    }
                }
                .accordion-collapse {
                    position: absolute;
                    right: 70px;
                    display: none;
                    background-color: #313a46;
                    width: 210px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    z-index: 1001;
                }
                .accordion-item {
                    &:hover {
                        .accordion-collapse {
                            display: block;
                        }
                        .accordion-button {
                            > span {
                                display: block;
                            }
                        }
                    }
                }
                a {
                    padding: 0.55rem 0;
                }
                i {
                    margin: 0 auto;
                }
            }
        }
        #site-content {
            margin-right: 70px;
        }
        .site-header,
        .site-footer {
            right: 70px;
        }
    }
}
