.site-header {
    padding: 0 24px;
    background-color: #fff;
    box-shadow: 0 0 35px 0 #9aa1ab26;
    min-height: 70px;
    position: fixed;
    right: 260px;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-form{
    display: flex;
}
.toolbar-menu {
    > ul {
        display: flex;
    }
    .account-user-avatar img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
    }
    .account-user-name,
    .account-position {
        display: block;
    }
}
