<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir="rtl" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layout}">

<head>

    <title>Post List</title>

    <th:block th:fragment="wp-css-link">
        <!-- wp css -->
        <link rel="stylesheet" href="../../../static/assets/css/common.css"
              th:href="@{../assets/css/common.css}"
        >
        <link rel="stylesheet" href="../../../static/assets/css/table-list.css"
              th:href="@{../assets/css/table-list.css}"
        >
    </th:block>
</head>
<!-- settings will config here -->

<body class="">


<main class="main-content" layout:fragment="content" role="main">
    <div class="body-container">
        <section id="blog-list-content">
            <table class="wp-list-table widefat fixed striped table-view-list posts">
                <thead>
                <tr>
                    <td id="cb" class="manage-column column-cb check-column"><label
                            class="screen-reader-text" for="cb-select-all-1">انتخاب همه</label><input
                            id="cb-select-all-1" type="checkbox"></td>
                    <th scope="col" id="title"
                        class="manage-column column-title column-primary sortable desc"><a
                            href="#"><span>عنوان</span><span class="sorting-indicator"></span></a></th>
                    <th scope="col" id="author" class="manage-column column-author">نویسنده</th>
                    <th scope="col" id="categories" class="manage-column column-categories">دسته‌ها</th>
                    <th scope="col" id="tags" class="manage-column column-tags">برچسب‌ها</th>
                    <th scope="col" id="comments"
                        class="manage-column column-comments num sortable desc"><a href="#"><span><span
                            class="vers comment-grey-bubble" title="دیدگاه‌ها"><span
                            class="screen-reader-text">دیدگاه‌ها</span></span></span><span
                            class="sorting-indicator"></span></a></th>
                    <th scope="col" id="date" class="manage-column column-date sortable asc"><a
                            href="#"><span>تاریخ</span><span class="sorting-indicator"></span></a></th>
                </tr>
                </thead>

                <tbody id="the-list">
                <tr id="post-11"
                    class="iedit author-self level-0 post-11 type-post status-draft format-standard hentry category-uncategorized">
                    <th scope="row" class="check-column"><label class="screen-reader-text"
                                                                for="cb-select-11">
                        انتخاب dv </label>
                        <input id="cb-select-11" type="checkbox" name="post[]" value="11">
                        <div class="locked-indicator">
                            <span class="locked-indicator-icon" aria-hidden="true"></span>
                            <span class="screen-reader-text">
                                                “dv” قفل است </span>
                        </div>
                    </th>
                    <td class="title column-title has-row-actions column-primary page-title"
                        data-colname="عنوان">
                        <div class="locked-info"><span class="locked-avatar"></span> <span
                                class="locked-text"></span></div>
                        <strong><a class="row-title" href="#" aria-label="“dv” (ویرایش)">dv</a> — <span
                                class="post-state">پیش‌نویس</span></strong>


                        <div class="row-actions"><span class="edit"><a href="#"
                                                                       aria-label="ویرایش “dv”">ویرایش</a> |
                                            </span><span class="trash"><a href="#" class="submitdelete"
                                                                          aria-label="انتقال “dv” به زباله‌دان">زباله‌دان</a> | </span><span
                                class="view"><a href="#" rel="bookmark"
                                                aria-label="پیش‌نمایش “dv”">پیش‌نمایش</a></span></div>
                        <button
                                type="button" class="toggle-row"><span class="screen-reader-text">نمایش
                                                جزئیات بیشتر</span></button>
                    </td>
                    <td class="author column-author" data-colname="نویسنده"><a href="#">admin</a></td>
                    <td class="categories column-categories" data-colname="دسته‌ها"><a
                            href="#">Uncategorized</a></td>
                    <td class="tags column-tags" data-colname="برچسب‌ها"><span
                            aria-hidden="true">—</span><span class="screen-reader-text">بدون
                                            برچسب</span></td>
                    <td class="comments column-comments" data-colname="دیدگاه‌ها">
                        <div class="post-com-count-wrapper">
                            <span aria-hidden="true">—</span><span class="screen-reader-text">بدون
                                                دیدگاه</span><span
                                class="post-com-count post-com-count-pending post-com-count-no-pending"><span
                                class="comment-count comment-count-no-pending"
                                aria-hidden="true">0</span><span class="screen-reader-text">بدون
                                                    دیدگاه</span></span>
                        </div>
                    </td>
                    <td class="date column-date" data-colname="تاریخ">آخرین ویرایش<br>1400/05/26 در 6:06
                        ب.ظ
                    </td>
                </tr>
                <tr id="post-1"
                    class="iedit author-self level-0 post-1 type-post status-publish format-standard hentry category-uncategorized">
                    <th scope="row" class="check-column"><label class="screen-reader-text"
                                                                for="cb-select-1">
                        انتخاب Hello world! </label>
                        <input id="cb-select-1" type="checkbox" name="post[]" value="1">
                        <div class="locked-indicator">
                            <span class="locked-indicator-icon" aria-hidden="true"></span>
                            <span class="screen-reader-text">
                                                “Hello world!” قفل است </span>
                        </div>
                    </th>
                    <td class="title column-title has-row-actions column-primary page-title"
                        data-colname="عنوان">
                        <div class="locked-info"><span class="locked-avatar"></span> <span
                                class="locked-text"></span></div>
                        <strong><a class="row-title" href="#" aria-label="“Hello world!” (ویرایش)">Hello
                            world!</a></strong>


                        <div class="row-actions"><span class="edit"><a href="#"
                                                                       aria-label="ویرایش “Hello world!”">ویرایش</a> |
                                            </span><span
                                class="trash"><a href="#" class="submitdelete"
                                                 aria-label="انتقال “Hello world!” به زباله‌دان">زباله‌دان</a> |
                                            </span><span class="view"><a href="#" rel="bookmark"
                                                                         aria-label="نمایش “Hello world!”">نمایش</a></span>
                        </div>
                        <button
                                type="button" class="toggle-row"><span class="screen-reader-text">نمایش
                                                جزئیات بیشتر</span></button>
                    </td>
                    <td class="author column-author" data-colname="نویسنده"><a href="#">admin</a></td>
                    <td class="categories column-categories" data-colname="دسته‌ها"><a
                            href="#">Uncategorized</a></td>
                    <td class="tags column-tags" data-colname="برچسب‌ها"><span
                            aria-hidden="true">—</span><span class="screen-reader-text">بدون
                                            برچسب</span></td>
                    <td class="comments column-comments" data-colname="دیدگاه‌ها">
                        <div class="post-com-count-wrapper">
                            <a href="#" class="post-com-count post-com-count-approved"><span
                                    class="comment-count-approved" aria-hidden="true">1</span><span
                                    class="screen-reader-text">1 دیدگاه</span></a><span
                                class="post-com-count post-com-count-pending post-com-count-no-pending"><span
                                class="comment-count comment-count-no-pending"
                                aria-hidden="true">0</span><span class="screen-reader-text">دیدگاهی
                                                    در انتظار بررسی نیست</span></span>
                        </div>
                    </td>
                    <td class="date column-date" data-colname="تاریخ">منتشرشده<br>1400/03/16 در 8:45 ق.ظ
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td class="manage-column column-cb check-column"><label class="screen-reader-text"
                                                                            for="cb-select-all-2">انتخاب
                        همه</label><input id="cb-select-all-2"
                                          type="checkbox"></td>
                    <th scope="col" class="manage-column column-title column-primary sortable desc"><a
                            href="#"><span>عنوان</span><span class="sorting-indicator"></span></a></th>
                    <th scope="col" class="manage-column column-author">نویسنده</th>
                    <th scope="col" class="manage-column column-categories">دسته‌ها</th>
                    <th scope="col" class="manage-column column-tags">برچسب‌ها</th>
                    <th scope="col" class="manage-column column-comments num sortable desc"><a
                            href="#"><span><span class="vers comment-grey-bubble"
                                                 title="دیدگاه‌ها"><span
                            class="screen-reader-text">دیدگاه‌ها</span></span></span><span
                            class="sorting-indicator"></span></a></th>
                    <th scope="col" class="manage-column column-date sortable asc"><a
                            href="#"><span>تاریخ</span><span class="sorting-indicator"></span></a></th>
                </tr>
                </tfoot>

            </table>
        </section>
    </div>
</main>


</body>

</html>