<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir="rtl" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layout}">

<head>

    <title>Post List</title>

    <th:block th:fragment="wp-css-link">
        <!-- blog list -->
        <link rel="stylesheet" href="../../../static/assets/css/hyper-blog-list-style.css"
              th:href="@{../assets/css/hyper-blog-list-style.css}"
        >
  
    </th:block>
</head>
<!-- settings will config here -->
<body class="">


<main class="main-content" layout:fragment="content" role="main">
    <div class="body-container">
        <section id="blog-list-content">
            <table class="hp-list-table">
                <thead>
                    <tr>
                        <td class="check-column">
                            <input type="checkbox">
                        </td>
                        <th scope="col" id="title" class="sortable desc">
                            <a href="#">
                                <span>عنوان</span>
                            </a>
                        </th>
                        <th scope="col" id="author">نویسنده</th>
                        <th scope="col" id="categories">دسته‌ها</th>
                        <th scope="col" id="tags">برچسب‌ها</th>
                        <th scope="col" id="comments" class="sortable desc">
                            <a href="#">
                                <span>
                                    دیدگاه‌ها
                                </span>
                            </a>
                        </th>
                        <th scope="col" id="date" class="sortable asc">
                            <a href="#">
                                <span>تاریخ</span>
                            </a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row" class="check-column">
                            <input type="checkbox">
                        </th>
                        <td>
                            <strong>
                                <a class="row-title" href="#">dv</a> -
                                پیش نویس
                            </strong>
                            <div class="row-actions">
                                <span class="edit">
                                    <a href="#">ویرایش</a> |
                                </span>
                                <span class="trash">
                                    <a href="#">زباله‌دان</a> |
                                </span>
                                <span class="view">
                                    <a href="#" rel="bookmark">پیش‌نمایش</a>
                                </span>
                            </div>
                        </td>
                        <td>
                            <a href="#">admin</a>
                        </td>
                        <td>
                            <a href="#">Uncategorized</a>
                        </td>
                        <td>
                            <span>—</span>
                        </td>
                        <td>
                            <span class="badge comment-number">
                                0
                            </span>
                        </td>
                        <td>
                            آخرین ویرایش<br>1400/05/26 در 6:06 ب.ظ
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="check-column">
                            <input type="checkbox">
                        </th>
                        <td>
                            <strong>
                                <a class="row-title" href="#">dv</a>
                            </strong>
                            <div class="row-actions">
                                <span class="edit">
                                    <a href="#">ویرایش</a> |
                                </span>
                                <span class="trash">
                                    <a href="#">زباله‌دان</a> |
                                </span>
                                <span class="view">
                                    <a href="#" rel="bookmark">پیش‌نمایش</a>
                                </span>
                            </div>
                        </td>
                        <td>
                            <a href="#">admin</a>
                        </td>
                        <td>
                            <a href="#">Uncategorized</a>
                        </td>
                        <td>
                            <span>—</span>
                        </td>
                        <td>
                            <span class="badge comment-number">
                                0
                            </span>
                        </td>
                        <td>
                            آخرین ویرایش<br>1400/05/26 در 6:06 ب.ظ
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="check-column">
                            <input type="checkbox">
                        </th>
                        <td>
                            <strong>
                                <a class="row-title" href="#">dv</a>
                            </strong>
                            <div class="row-actions">
                                <span class="edit">
                                    <a href="#">ویرایش</a> |
                                </span>
                                <span class="trash">
                                    <a href="#">زباله‌دان</a> |
                                </span>
                                <span class="view">
                                    <a href="#" rel="bookmark">پیش‌نمایش</a>
                                </span>
                            </div>
                        </td>
                        <td>
                            <a href="#">admin</a>
                        </td>
                        <td>
                            <a href="#">Uncategorized</a>
                        </td>
                        <td>
                            <span>—</span>
                        </td>
                        <td>
                            <span class="badge comment-number">
                                0
                            </span>
                        </td>
                        <td>
                            آخرین ویرایش<br>1400/05/26 در 6:06 ب.ظ
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>


</body>

</html>