<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="this website it is about">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Shayan Ghazali">
    <title>Admin Panel</title>
    <!-- css assets -->
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../../static/assets/css/style-admin.min.css">
</head>

<body>




    <!-- js assets -->
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>