<!doctype html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="this website it is about">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Shayan Ghazali">
    <title>Admin Panel</title>
    <!-- css assets -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.rtl.min.css">
    <!-- login layout -->
    <link rel="stylesheet" href="../../static/assets/css/hyper-login-style.css">

</head>
<!-- settings will config here -->

<body class="">

    <div id="page-container">

        <div id="site-content">

            <main class="main-content" role="main">
                <div class="body-container">
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                                    <div class="p-4 p-sm-5 bg-primary-soft rounded">
                                        <h2>ورود</h2>
                                        <!-- Form START -->
                                        <form class="mt-4">
                                            <!-- Email -->
                                            <div class="mb-3">
                                                <label class="form-label" for="exampleInputEmail1">نام کاربری</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                    placeholder="">
                                            </div>
                                            <!-- Password -->
                                            <div class="mb-3">
                                                <label class="form-label" for="exampleInputPassword1">کلمه عبور</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1"
                                                    placeholder="">
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">مرا بخاطر بسپار</label>
                                            </div>
                                            <!-- Button -->
                                            <div class="row align-items-center">
                                                <div class="col-sm-4">
                                                    <button type="submit" class="btn btn-success">ورود</button>
                                                </div>
                                                <div class="col-sm-8 text-sm-end">
                                                    <span>حساب کاربری ندارید? <a href="signup.html"><u>ساخت حساب</u></a></span>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Form END -->
                                        <hr>
                                        <div class="row">
                                            <div class="col-2">
                                                <label>CAPTCHA</label>
                                            </div>
                                            <div class="col-4">
                                                <img th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                                <label>ENTER CAPTCHA</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="hidden" th:field="*{hiddenCaptcha}">
                                                <input type="text" th:field="*{captcha}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>

        </div>

    </div>


    <!-- js assets -->
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/js/bootstrap.bundle.min.js"></script>


</body>

</html>