.datepicker-plot-area {
     font-family: Vazir;
}
.select2-container {
     display: block;
     width: 100% !important;
}
.post-submition{
     border: 1px solid #b7b7b7;
     border-radius: 5px;
     padding: 1rem;
}
