body {
}

img {
    padding: 0px;
    margin: 0px;
}

.rotated {
    transform: rotate(-45deg);
}

input[type="text"]::placeholder {

    /* Firefox, Chrome, Opera */
    text-align: right;
}


/*Must include type="text" in HTML*/
