<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <th:block th:insert="fragments/head::head"></th:block>
</head>
<body>

<div th:if="${userSuccess}">
    <p>ResetPassword Action send to </p>
    <p th:text="${userSuccess.getEmail()}"></p>
</div>
<div th:if="${userSuccess==null}">
    <form th:action="@{/forgotPassword}" th:object="${user}" method="POST" enctype="utf8">
        <label th:text="#{label.user.email}">email</label>
        <input id="email" name="email" type="email" th:placeholder="#{label.user.email}"/>
        <p th:text="${error}"></p>

        <br/>
        <div class="row">
            <div class="col-2">
                <label>CAPTCHA</label>
            </div>
            <div class="col-4">
                <img th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <label>ENTER CAPTCHA</label>
            </div>
            <br>
            <div th:if="${captchaMessage!=null}" class="card-footer bg-info text-white">
                <span class="alert alert-danger" th:text="#{${captchaMessage}}"></span>
            </div>
            <br/>
            <div class="col-4">
                <input type="hidden" th:field="*{hiddenCaptcha}"/>
                <input type="text" th:field="*{captcha}" class="form-control"/>
            </div>
        </div>
        <button type="submit" th:text="#{send.verify.email}">send
        </button>
    </form>
    <a th:href="@{/register}" th:text="#{label.form.loginSignUp}">
        registration
    </a>
    <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
</div>

</body>

</html>