<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <th:block th:insert="fragments/head::head"></th:block>

    <title>Login</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form th:action="@{/login}" method="post" class="row g-3">
                    <h1>Please Sign In</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <div th:if="${param.saveUserSuccess}">
                        <div class="alert alert-info">
                            You have been registered.
                            please sign in
                        </div>
                    </div>

                    <div class="col-12">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <img th:src="@{/captcha-servlet}">
                        <input/>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" th:name="${_csrf.getParameterName()}"
                           value="${_csrf.token}" th:value="${_csrf.getToken()}"/>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe"> Remember me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Can not remember password?<a th:href="@{/forgetPassword}"
                                                                             th:text="#{message.resetPassword}">reset</a>
                    </p>
                    <p class="text-center mb-0">Have not account yet? <a th:href="@{/register}">Signup</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/head::javascript"></th:block>
</body>
</html>