<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <th:block th:insert="fragments/head::head"></th:block>
</head>
<body>
<h1 th:text="#{message.verify.email}">reset</h1>
<div th:if="${userSuccess}">
    <p>verify email sent to :</p>
    <p th:text="${userSuccess.getEmail()}"></p>
</div>

<form th:action="@{/verifyEmail}" method="post">
    <label th:text="#{label.user.email}">email</label>
    <input id="email" name="email" type="email" th:placeholder="#{label.user.email}"/>
    <p th:text="${error}"></p>
    <button type="submit" th:text="#{send.verify.email}">send
    </button>
</form>
<a th:href="@{/register}" th:text="#{label.form.loginSignUp}">
    registration
</a>
<a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>


</body>

</html>